:root{
    --dark-color: rgba(238, 10, 10, 0.007);
    --medium-color: #333;
    --light-color:rgba(112, 39, 39, 0.295);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansita Swashed', cursive;
    font-size: 1rem;
    line-height: 1.7;
    color: var(--light-color);
    padding: 2rem;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to bottom right, var(--light-color),var(--dark-color)), url("../img/pexels-lars-mulder-1919322.jpg");
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0%, 100% 71%, 0% 100%);
}